h1{
font-family: Arial, Helvetica, sans-serif;

}
p{
  font-family: Arial, Helvetica, sans-serif;
}


.p1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(82, 79, 100);
  text-align: center;
  font-size: large;
}

.grid-container{
  display: grid;
}


.flex-container{
  display: flex;
  align-items: stretch;
  background-color: #dbdcf0;

}

.flex-container > div {
  background-color: rgb(168, 208, 249);
  color: rgb(0, 0, 0);
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}



a:link {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
)

a:visited{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:active{
  text-decoration: underline;
}


